<!-- Form page for Phrase model-->
<!--
     Only admin users who are SIGNED IN should be 
     able to access this page 
-->
<%= form_for(@phrase) do |f| %>
<!--
  < % if @phrase.errors.any? %>
    <div id="error_explanation">
      <h2>< % = pluralize(@phrase.errors.count, "error") %> prohibited this phrase from being saved:</h2>
      <ul>
      < % @phrase.errors.full_messages.each do |message| %>
        <li>< % = message %></li>
      < % end %>
      </ul>
    </div>
  < % end % >
-->
  <table>
    <tr><td><div class="field"><b><%= f.label :language_id %></b></td></tr>
    <tr><td width='86'><%= f.text_field @phrase.language_id %></div></td></tr>
    <tr><td><div class="field"><b><%= f.label :phrase_text %></b></td></tr>
    <tr><td colspan='3'><%= f.text_area(@phrase.text, :size => "102x18") %></div></td></tr>
    <tr><td><div class="field"><b><%= f.label :audio_file %></b></tr></tr>
    <tr><td width='86'><%= f.text_field @phrase.audio_file %></div></tr>
    <tr><td><div class="field"><b><%= f.label :key %></b></tr></tr>
    <tr><td width='86'><%= f.text_field @phrase.key %></div></tr>
  </table>  
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
<!--
  <table class='foot-buttons'>
    <tr>
      <div class="actions">
        <td>< % = f.submit %></td>
        < % end % >

        <td>< % = button_to "Phrases",  phrases_path, {:class => 'buttonTo', :method => :get} %></td>
        <td>< % = button_to 'About', about_page_path, {:class => 'buttonTo', :method => :get} %></td>
        <td>< % = button_to 'Privacy',  policy_page_path, {:class => 'buttonTo', :method => :get} %></td>
    </div>
    </tr>
  </table>
< % end % >
-->

