<div id='topper2'>
  <h2>Edit Phrase in <%= l = Language.where(id: 10).first.name %></h2>
</div>
<%= form_for(@phrase) do |f| %>
  <% if @phrase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phrase.errors.count, "error") %> prohibited this phrase from being saved:</h2>
      <ul>
      <% @phrase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <table class='edit-phrase'>
      <tr class="required">
        <td class='label'><%= f.label :phrase_text %>:</td>
        </tr>
        <tr>
        <td><%= f.text_area(:phrase_text, :size => "68x2") %> </td>
      </tr>
      <tr class="required">
        <td class='label'><%= f.label :audio_file %>:</td>
        </tr><tr>
        <td style="width:34em;"><%= f.text_field :audio_file %>  </td>
      </tr>
      <tr class="required">
        <td class='label'><%= f.label :key %>:</td>
        </tr><tr>
        <td style="width:34em;"><%= f.text_field :key %> </td>
      </tr>
    </table>
  </fieldset>
  <div class="actions">
    <table>
      <tr>
        <td><%= f.submit 'Update', :class => 'button' %></td>
        <td><%= link_to 'Show', @phrase, class: 'button' %></td>
        <td><%= link_to 'Back', phrases_path, class: 'button' %></td>
      </tr>
    </table>
  </div>
<% end %>

<!-- < % = render 'form' % > -->
