  <p id="notice"><%= notice %></p>
  <p> </p>
  <div id='topper2'>
    <% l = Language.where(:abbrv => I18n.locale.to_s).first.name %>
    <h2><%= l %> Phrases</h2>
  </div>
  <style type='text/css'>
  div#topper2 h2{
    margin-bottom: -0.75em;

   }
  table#allphrases {
    margin-top: -1em;
    padding-top: -3em;
  }

  table#allphrases a.plink{
    color: white;
  }
  table#allphrases a.plink:hover{
    color: gold;
    font-weight: bold;
  }
  </style>
  <table id='allphrases'>
    <thead>
      <tr><th>Id</th><th>Text</th><th>Audio</th><th>Key</th>
      </tr>
    </thead>

    <tbody>
    <!-- Hard coded language to English (id: 10) for now 
         This needs to be assignable to the current language 
         of the user -->
    <% lang = Language.where(:id => 10) %>
    <% @phrases.each do |phrase| %>
      <tr>
        <td><%= phrase.id %></td>
        <td><%= phrase.phrase_text %></td>
        <!-- Made audio_file a link so audio can be played when the file is clicked/touched -->
        <td><a class='plink' href='#' style='text-decoration: none'; onclick='return playSound("<%= "/sounds/mine/" + "#{phrase.audio_file}" %>")';><%= phrase.audio_file %></a></td>
        <!--        <td>< % = phrase.audio_file % ></td> -->
        <td><%= phrase.key %></td>
        <%#<td><%= phrase.categories.map {|j| j.name}.join(", ") %></td>%>
        <td><%= link_to 'Show', phrase %></td>
<!-- admins only -->
<%#       <% if true %> %>
          <td><%= link_to 'Edit', edit_phrase_path(phrase) %></td>
          <td><%= link_to 'Destroy', phrase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
<!-- end admins only -->
      </tr>
<%#      <% end %> %>

    </tbody>
  </table>
  <div class='pnation'>
    <table>
      <tr>
        <td colspan='3'><%= paginate @phrases %></td>
      </tr>
    <tr><td align='center'><%= link_to 'New Phrase', new_phrase_path %></td></tr>
    </table>
  </div>
