<style type='text/css'>
table#categories{
  margin-top: 0;
  margin-left: 5.5em;
}

table#categories td#cb{
  width: 7.75em;
  font-weight: normal;
}

table#categories td.labelc label{
  color: gold;
  font-weight: 700;
  font-size: 1.1em;
  margin-right: 2.5em;
}
div#ccl3 p#cright{
  margin-left: 8em;
}

div#topper2 h2{
  margin-top: -0.90em;
  margin-left: -0.75em;
  margin-bottom: -0.75em;
}
</style>
<div id='topper2'>
  <h2><%= l = Language.where(id: 10).first.name %> Phrase</h2>
</div>
<%= form_for(@phrase) do |f| %>
  <% if @phrase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phrase.errors.count, "error") %> prohibited this phrase from being saved:</h2>
      <ul>
      <% @phrase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <table class='show-phrase'>
      <tr class="required">
        <td class='show-label'><%= f.label :id %>:</td>
        <td style="width: 34em;"><%= @phrase.id %></td>
      </tr>
      <tr class="required">
        <td class='show-label'><%= f.label :phrase_text %>:</td>
        <td style="width: 34em;"><%= @phrase.phrase_text %></td>
      </tr>
      <tr class="required">
        <td class='show-label'><%= f.label :audio_file %>:</td>
        <td><%= @phrase.audio_file %></td>
      </tr>
      <tr class="required">
        <td class='show-label'><%= f.label :key %>:</td>
        <td style="width:34em;"><%= @phrase.key %></td>
      </tr>
    </table>
    <!-- Hard-coded. This needs to lookup the category from the language id 
         for the selected phrase. Ideally, these entries will display only 
         those categories that are selected for this phrase, with gold 
         checkmarks to the left of each category. -->
    <table id='categories'>
      <tr>
        <td class='labelc'><%= f.label 'Categories:' %></td>
        <% index = 1 %>
        <% @categories.each do |cat| %>
          <% if @phrase.categories.include?(cat) %>
            <% index +=1 %>
            <td id='cb'><%= check_box_tag cat.name, cat.id, true, disabled: :disabled %> <%= cat.name %> </td>
            <% if index % 5 == 0  %>
              </tr><tr><td></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    </table>
    <!-- end Hard-coded -->
  </fieldset>

  <div class="actions">
    <table>
      <tr>
      <!-- admins only -->
        <% if false %>
          <td><%= link_to 'Edit', edit_phrase_path, :class => 'button' %></td>
        <% end %>
        <td><%= link_to 'Back', phrases_path, class: 'button' %></td>
        <!-- moved to top bar -->
        <% if false %>
          <td><%= link_to 'Home', root_path(:anchor => '#' ), class: 'button', redirect_to: :back;%>
        <% end %>
      </tr>
    </table>
  </div>
<% end %>
