<!DOCTYPE html>
<html lang='en'>
<head>
</head>
<body class='indexpage'>
  <div class='container'>
    <div id='white'>
      <div id='topper-ab'>
        <h2><%=t '.about' %> Tommy Talker</h2>
      </div>
      <div id='zz'>
        <p>
        <strong><font color='red'>TommyTalker <%=t '.tt_needs' %>
          <!--  needs native language speakers --></font></strong> 
        <%=t '.fluent' %>  
        <!-- that are fluent in English to review and correct 
        phrases that are incomplete or inaccurate. Translations have been done 
        in 26 languages, but Google Translate only does so much, and there are 
        about 1,000 phrases that need reviewing and editing in each language. -->
        </p><p>
       <%=t '.designers' %> 
        <!-- HTML5/CSS3 Designer(s) are needed to improve site look and functionality.
        RoR programmers interested in the project should contact me. Pair programming via Google 
        Hangouts, tmux and using vim editor work best for me, as those are the 
        tools I've found to be most effective for me. -->
        </p><p>
        <%=t '.open_source' %> 
        <!-- This is a free open source program intended to help people not fluent 
        in English be able to communicate using a one way universal translator.
        It's advantage is in it's simplicity. Just touch or click on a phrase 
        you want to say and the program speaks for you. If you can help or you 
        know someone who would be interested in helping create this useful tool, 
        contact me by email to: -->
        <a id='mailto' href="mailto:sdownie@tommytalker.com">TommyTalker</a>.
        </p><p>
        <%=t '.credit' %> 
        <!--
        Credit for all translation and programming participation will be displayed 
        prominently on this page, and I can provide bona fide references for participants 
        needing open source programming or translation references on their resumes. -->
        </p>
        <p>TommyTalker <%=t '.tt_is_a' %></p>
  <!-- TommyTalker is a program that can speak for you. Some people have 
          problems speaking. Whether temporary or permanent, TommyTalker helps by 
          allowing you to select a phrase that you wish to say and TommyTalker speaks it for you. -->
        <p> </p>
        <p><%=t '.donttype' %>
  <!-- You don't have to type at all. Just click or touch a phrase, and that phrase is spoken.
        Suggestions for features, words, and phrases to added can be emailed to -->
        <a id='mailto' href="mailto:sdownie@tommytalker.com">TommyTalker</a>.</p>
        <p> </p>
        <p><%=t '.supportfor' %></p>
  <!-- We've added support for 26 languages. The text can be presented in all of them, and when links are selected, they are spoken in English.
        This can be a big help for non-English speakers, and by selecting an appropriate phrase, they can be understood in English.
        This expands the use of the program to both speech impaired folks along with non-English folks who'd like to communicate in English.
  -->
        <p> </p>
        <p><%=t '.letusknow' %></p>
  <!-- Let us know by email if you'd like to know as features are added and we'll keep you in the loop. -->
        <p><%= t '.enjoyvisit' %> TommyTalker!</p>

        <div id='copyright2'>
          <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
        </div>
  <!-- Enjoy your visit to -->
      </div> <!-- end zz -->
    </div> <!-- end white -->
  </div> <!-- end container -->
</body>
</html>
