<!DOCTYPE html>
<html lang='en'>
<head>
<!-- <link rel="stylesheet" type="text/css" href="ttalk.css.scss" /> -->
  <script type="text/javaScript" src="jquery.js"></script> 
  <!--  <script type="text/javaScript" src="talker.js"></script>  -->
</head>
<body>
  <div class='container'>
    <div id='white'>
      <div id='topper'>
        <h2>Tommy Talker</h2>
      </div>
      <table class='talker'>
        <tr><th>Are you</th></tr>
        <tr>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouafraid.mp3")';><%=t :areyouafraid %></a></td>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouhungry.mp3")';><%=t :areyouhungry %></a></td>
        </tr>
        <tr>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouallergictoanything.mp3")';><%=t :areyouallergictoanything %></a></td>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyoumarried.mp3")';><%=t :areyoumarried %></a></td>
        </tr>
        <tr>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouamerican.mp3")';><%=t :areyouamerican %></a></td>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouok.mp3")';><%=t :areyouok %></a></td>
        </tr>
        <tr>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyoubusy.mp3")';><%=t :areyoubusy %></a></td>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouready.mp3")';><%=t :areyouready %></a></td>
        </tr>
        <tr>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyoucomfortable.mp3")';><%=t :areyoucomfortable %></a></td>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyousick.mp3")';><%=t :areyousick %></a></td>
        </tr>
        <tr>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyoucomingthisevening.mp3")';><%=t :areyoucomingthisevening %></a></td>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyousure.mp3")';><%=t :areyousure %></a></td>
        </tr>
        <tr>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyoufreetonight.mp3")';><%=t :areyoufreetonight %></a></td>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouwaitingforsomeone.mp3")';><%=t :areyouwaitingforsomeone %></a></td>
        </tr>
        <tr>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyougoingtoattendtheirwedding.mp3")';><%=t :areyougoingtoattendtheirwedding %></a></td>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouworkingtoday.mp3")';><%=t :areyouworkingtoday %></a></td>
        </tr>
        <tr>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyougoingtohelpher.mp3")';><%=t :areyougoingtohelpher %></a></td>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouworkingtomorrow.mp3")';><%=t :areyouworkingtomorrow %></a></td>
        </tr>
        <tr>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyougoingtotakeaplane.mp3")';><%=t :areyougoingtotakeaplane %></a></td> 
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyourchildrenwithyou.mp3")';><%=t :areyourchildrenwithyou %></a></td>
        </tr>
        <tr>
          <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouherealone.mp3")';><%=t :areyouherealone %></a></td>
        </tr>
      </table>

      <div id='copyright0'>
        <span onclick="showhide('ccl')"><p class='creative'><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></span>
        <div id='ccl' style="display:none">
          <p><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Tommy Talker</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://tommytalker.com" property="cc:attributionName" rel="cc:attributionURL">Steve Downie</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://tommytalker.com" rel="dct:source">http://tommytalker.com</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://maintenancemode.com" rel="cc:morePermissions">http://maintenancemode.com</a></p>
        </div> <!-- end ccl -->
      </div> <!-- end copyright0 -->
    </div> <!-- end white -->
  </div> <!-- end container -->
</body>
</html>
