<!DOCTYPE html>
<html lang='en'>
<head>
<!-- <link rel="stylesheet" type="text/css" href="ttalk.css.scss" /> -->
  <script type="text/javaScript" src="jquery.js"></script> 
  <!--  <script type="text/javaScript" src="talker.js"></script>  -->
</head>
<body>
  <div class='container'>
  <div id='white'>
    <div id='topper'>
      <h2>Tommy Talker</h2>
    </div>
    <table class='talker'>
      <tr><th>Are you</th></tr>
      <tr>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouafraid.mp3")';><%=t :areyouafraid %></a></td>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouhungry.mp3")';><%=t :areyouhungry %></a></td>
      </tr>
      <tr>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouallergictoanything.mp3")';><%=t :areyouallergictoanything %></a></td>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyoumarried.mp3")';><%=t :areyoumarried %></a></td>
      </tr>
      <tr>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouamerican.mp3")';><%=t :areyouamerican %></a></td>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouok.mp3")';><%=t :areyouok %></a></td>
      </tr>
      <tr>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyoubusy.mp3")';><%=t :areyoubusy %></a></td>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouready.mp3")';><%=t :areyouready %></a></td>
      </tr>
      <tr>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyoucomfortable.mp3")';><%=t :areyoucomfortable %></a></td>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyousick.mp3")';><%=t :areyousick %></a></td>
      </tr>
      <tr>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyoucomingthisevening.mp3")';><%=t :areyoucomingthisevening %></a></td>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyousure.mp3")';><%=t :areyousure %></a></td>
      </tr>
      <tr>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyoufreetonight.mp3")';><%=t :areyoufreetonight %></a></td>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouwaitingforsomeone.mp3")';><%=t :areyouwaitingforsomeone %></a></td>
      </tr>
      <tr>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyougoingtoattendtheirwedding.mp3")';><%=t :areyougoingtoattendtheirwedding %></a></td>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouworkingtoday.mp3")';><%=t :areyouworkingtoday %></a></td>
      </tr>
      <tr>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyougoingtohelpher.mp3")';><%=t :areyougoingtohelpher %></a></td>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouworkingtomorrow.mp3")';><%=t :areyouworkingtomorrow %></a></td>
      </tr>
      <tr>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyougoingtotakeaplane.mp3")';><%=t :areyougoingtotakeaplane %></a></td> 
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyourchildrenwithyou.mp3")';><%=t :areyourchildrenwithyou %></a></td>
      </tr>
      <tr>
        <td><a href='#' style='text-decoration:none'; onclick='return playSound("/sounds/mine/areyouherealone.mp3")';><%=t :areyouherealone %></a></td>
      </tr>
    </table>

    <div id='copyright1'>
      <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
    </div>
  </div> <!-- end white -->
  </div> <!-- end container -->
</body>
</html>
