<!DOCTYPE html>
<html>
<head lang='en'>
  <script type="text/javaScript" src="jquery.js"></script>
  <script type="text/javaScript" src="talker.js"></script>
  <link rel="stylesheet" type="text/css" href="talker.css" />
</head>
<body>
  <div id='white'>
    <br/>
    <div id='topper'>
      <h2>Tommy Talker</h2>
    </div>
  </div> <!-- end white -->
  <div class='container'>
    <table class='talker'>
       <tr>
          <th>Can you</th><th>Can I</th>
       </tr>
       <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canYouCallBackLater.mp3")';><%=t :canyoucallbacklater %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canIAccessTheInternetHere.mp3")';><%=t :caniaccesstheinternethere %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canYouCarryThisForMe.mp3")';><%=t :canyoucarrythisforme %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canIBorrowSomeMoney.mp3")';><%=t :caniborrowsomemoney %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canYouDoMeAFavor.mp3")';><%=t :canyoudomeafavor %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canIBringMyFriend.mp3")';><%=t :canibringmyfriend %></a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canYouFixThis.mp3")';><%=t :canyoufixthis %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canIHaveAGlassOfWaterPlease.mp3")';><%=t :canihaveaglassofwaterplease %></a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canYouGiveMeAnExample.mp3")';><%=t :canyougivemeanexample %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canIHaveAReceiptPlease.mp3")';><%=t :canihaveareceiptplease %></a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canYouHelpMe.mp3")';><%=t :canyouhelpme %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canIHaveTheBillPlease.mp3")';><%=t :canihavethebillplease %></a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canYouHoldThisForMe.mp3")';><%=t :canyouholdthisforme %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canIHelpYou.mp3")';><%=t :canihelpyou %></a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canYouPleaseSayThatAgain.mp3")';><%=t :canyoupleasesaythatagain %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canIMakeAnAppointmentForNextWednesday.mp3")';><%=t :canimakeanappointmentfornextwednesday %></a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canYouRecommendAGoodRestaurant.mp3")';><%=t :canyourecommendagoodrestaurant %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canISeeYourPassportPlease.mp3")';><%=t :caniseeyourpassportplease %></a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canYouRepeatThatPlease.mp3")';><%=t :canyourepeatthatplease %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canITakeAMessage.mp3")';><%=t :canitakeamessage %></a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canYouShowMe.mp3")';><%=t :canyoushowme %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canITryItOn.mp3")';><%=t :canitryiton %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canYouSpeakLouderPlease.mp3")';><%=t :canyouspeaklouderplease %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canIUseYourPhone.mp3")';><%=t :caniuseyourphone %></a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canYouSwim.mp3")';><%=t :canyouswim %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canYouTranslateThisForMe.mp3")';><%=t :canyoutranslatethisforme %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/canYouThrowThatAwayForMe.mp3")';><%=t :canyouthrowthatawayforme %></a></td>
        </tr>
    </table>
    <%= link_to 'Back', root_path(:anchor => '#' ), id: 'a-bout', class: 'button', redirect_to: :back;%>

    <div id='copyright1'>
      <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
    </div>
  </div> <!-- end container -->
</body>
</html>
