<!DOCTYPE html>
<html>
<head lang='en'>
<!--  <script type="text/javaScript" src="jquery.js"></script> -->
  <script type="text/javaScript" src="talker.js"></script>
  <!--  <link rel="stylesheet" type="text/css" href="ttalk.css.scss" /> -->
</head>
<body>
  <div class='container'>
    <div id='white'>
      <div id='topper'>
        <h2>Tommy Talker</h2>
      </div>
      <table class='talker'>
        <tr>
            <th>Can you</th><th>Can I</th>
        </tr>
        <tr>
            <td><a href='#' onclick='return playSound("/sounds/mine/canyoucallbacklater.mp3")';><%=t :canyoucallbacklater %></a></td>
            <td><a href='#' onclick='return playSound("/sounds/mine/caniaccesstheinternethere.mp3")';><%=t :caniaccesstheinternethere %></a></td>
          </tr>
          <tr>
            <td><a href='#' onclick='return playSound("/sounds/mine/canyoucarrythisforme.mp3")';><%=t :canyoucarrythisforme %></a></td>
            <td><a href='#' onclick='return playSound("/sounds/mine/caniborrowsomemoney.mp3")';><%=t :caniborrowsomemoney %></a></td>
          </tr>
          <tr>
            <td><a href='#' onclick='return playSound("/sounds/mine/canyoudomeafavor.mp3")';><%=t :canyoudomeafavor %></a></td>
            <td><a href='#' onclick='return playSound("/sounds/mine/canibringmyfriend.mp3")';><%=t :canibringmyfriend %></a></td> 
          </tr>
          <tr>
            <td><a href='#' onclick='return playSound("/sounds/mine/canyoufixthis.mp3")';><%=t :canyoufixthis %></a></td>
            <td><a href='#' onclick='return playSound("/sounds/mine/canihaveaglassofwaterplease.mp3")';><%=t :canihaveaglassofwaterplease %></a></td> 
          </tr>
          <tr>
            <td><a href='#' onclick='return playSound("/sounds/mine/canyougivemeanexample.mp3")';><%=t :canyougivemeanexample %></a></td>
            <td><a href='#' onclick='return playSound("/sounds/mine/canihaveareceiptplease.mp3")';><%=t :canihaveareceiptplease %></a></td> 
          </tr>
          <tr>
            <td><a href='#' onclick='return playSound("/sounds/mine/canyouhelpme.mp3")';><%=t :canyouhelpme %></a></td>
            <td><a href='#' onclick='return playSound("/sounds/mine/canihavethebillplease.mp3")';><%=t :canihavethebillplease %></a></td> 
          </tr>
          <tr>
            <td><a href='#' onclick='return playSound("/sounds/mine/canyouholdthisforme.mp3")';><%=t :canyouholdthisforme %></a></td>
            <td><a href='#' onclick='return playSound("/sounds/mine/canihelpyou.mp3")';><%=t :canihelpyou %></a></td> 
          </tr>
          <tr>
            <td><a href='#' onclick='return playSound("/sounds/mine/canyoupleasesaythatagain.mp3")';><%=t :canyoupleasesaythatagain %></a></td>
            <td><a href='#' onclick='return playSound("/sounds/mine/canimakeanappointmentfornextwednesday.mp3")';><%=t :canimakeanappointmentfornextwednesday %></a></td> 
          </tr>
          <tr>
            <td><a href='#' onclick='return playSound("/sounds/mine/canyourecommendagoodrestaurant.mp3")';><%=t :canyourecommendagoodrestaurant %></a></td>
            <td><a href='#' onclick='return playSound("/sounds/mine/caniseeyourpassportplease.mp3")';><%=t :caniseeyourpassportplease %></a></td> 
          </tr>
          <tr>
            <td><a href='#' onclick='return playSound("/sounds/mine/canyourepeatthatplease.mp3")';><%=t :canyourepeatthatplease %></a></td>
            <td><a href='#' onclick='return playSound("/sounds/mine/canitakeamessage.mp3")';><%=t :canitakeamessage %></a></td> 
          </tr>
          <tr>
            <td><a href='#' onclick='return playSound("/sounds/mine/canyoushowme.mp3")';><%=t :canyoushowme %></a></td>
            <td><a href='#' onclick='return playSound("/sounds/mine/canitryiton.mp3")';><%=t :canitryiton %></a></td>
          </tr>
          <tr>
            <td><a href='#' onclick='return playSound("/sounds/mine/canyouspeaklouderplease.mp3")';><%=t :canyouspeaklouderplease %></a></td>
            <td><a href='#' onclick='return playSound("/sounds/mine/caniuseyourphone.mp3")';><%=t :caniuseyourphone %></a></td> 
          </tr>
          <tr>
            <td><a href='#' onclick='return playSound("/sounds/mine/canyouswim.mp3")';><%=t :canyouswim %></a></td>
          </tr>
          <tr>
            <td><a href='#' onclick='return playSound("/sounds/mine/canyoutranslatethisforme.mp3")';><%=t :canyoutranslatethisforme %></a></td>
          </tr>
          <tr>
            <td><a href='#' onclick='return playSound("/sounds/mine/canyouthrowthatawayforme.mp3")';><%=t :canyouthrowthatawayforme %></a></td>
          </tr>
      </table>
      <div id='copyright0'>
        <span onclick="showhide('ccl')"><p class='creative'><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></span>
        <div id='ccl' style="display:none">
          <p><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Tommy Talker</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://tommytalker.com" property="cc:attributionName" rel="cc:attributionURL">Steve Downie</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://tommytalker.com" rel="dct:source">http://tommytalker.com</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://maintenancemode.com" rel="cc:morePermissions">http://maintenancemode.com</a></p>
        </div> <!-- end ccl -->
      </div> <!-- end copyright0 -->
    </div> <!-- end white -->
  </div> <!-- end container -->
</body>
</html>
