<!DOCTYPE html>
<html lang='en'>
<head>
<!--  <link rel="stylesheet" type="text/css" href="ttalk.css.scss" /> -->
  <script type="text/javaScript" src="talker.js"></script>
<!--  <script type="text/javaScript" src="talker.js"></script> -->
</head>
<body>
  <div class='container'>
    <div id='white'>
      <div id='topper'>
        <h2>Tommy Talker</h2>
      </div>
      <table class='talker'>
        <tr>
          <th>Directions</th><th><th>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/afew.mp3")';><%=t :afew %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/morethan200miles.mp3")';><%=t :morethantwohundredmiles %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/alongtimeago.mp3")';><%=t :alongtimeago %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/morethanthat.mp3")';><%=t :morethanthat %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/ontheleft.mp3")';><%=t :ontheleft %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/ontheright.mp3")';><%=t :ontheright %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/acrossfromthepostoffice.mp3")';><%=t :acrossfromthepostoffice %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/onthesecondfloor.mp3")';><%=t :onthesecondfloor %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/allday.mp3")';><%=t :allday %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/becareful.mp3")';><%=t :becareful %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/becarefuldriving.mp3")';><%=t :becarefuldriving %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/openthedoor.mp3")';><%=t :openthedoor %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/bequiet.mp3")';><%=t :bequiet %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/openthewindow.mp3")';><%=t :openthewindow %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/callme.mp3")';><%=t :callme %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/overhere.mp3")';><%=t :overhere %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/callthepolice.mp3")';><%=t :callthepolice %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/overthere.mp3")';><%=t :overthere %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/comehere.mp3")';><%=t :comehere %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/pickupyourclothes.mp3")';><%=t :pickupyourclothes %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/dontdothat.mp3")';><%=t :dontdothat %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/startthecar.mp3")';><%=t :startthecar %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/dontworry.mp3")';><%=t :dontworry %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/stop.mp3")';><%=t :stop %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/followme.mp3")';><%=t :followme %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/takeitoutside.mp3")';><%=t :takeitoutside %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/forgetit.mp3")';><%=t :forgetit %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/takemedowntown.mp3")';><%=t :takemedowntown %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/fromtimetotime.mp3")';><%=t :fromtimetotime %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/takethismedicine.mp3")';><%=t :takethismedicine %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/gostraightahead.mp3")';><%=t :gostraightahead %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/tellhimthatineedtotalktohim.mp3")';><%=t :tellhimthatineedtotalktohim %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/help.mp3")';><%=t :help %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/tellme.mp3")';><%=t :tellme %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/hurry.mp3")';><%=t :hurry %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/thatway.mp3")';><%=t :thatway %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/in30minutes.mp3")';><%=t :inthirtyminutes %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/turnaround.mp3")';><%=t :turnaround %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/justamoment.mp3")';><%=t :justamoment %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/turnleft.mp3")';><%=t :turnleft %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/maybe.mp3")';><%=t :maybe %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/turnright.mp3")';><%=t :turnright %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/fromheretothere.mp3")';><%=t :fromheretothere %></a></td>
        </tr>
      </table>

      <div id='copyright1'>
        <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
      </div>
    </div> <!-- end white -->
  </div> <!-- end container -->
</body>
</html>
