<!DOCTYPE html>
<html lang='en'>
<head>
<!--  <link rel="stylesheet" type="text/css" href="ttalk.css.scss" /> -->
  <script type="text/javaScript" src="jquery.js"></script>
  <!--  <script type="text/javaScript" src="talker.js"></script> -->
</head>
<body>
  <div class='container'>
    <div id='white'>
      <div id='topper'>
        <h2>Tommy Talker</h2>
      </div>
      <table class='talker'>
        <tr><th>Do you have</th><th>Do you know<th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouhaveaboyfriend.mp3");'><%=t :doyouhaveaboyfriend %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouknowher.mp3");'><%=t :doyouknowher %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouhaveagirlfriend.mp3");'><%=t :doyouhaveagirlfriend %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouknowhowmuchitcosts.mp3");'><%=t :doyouknowhowmuchitcosts %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouhaveapencil.mp3");'><%=t :doyouhaveapencil %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouknowhowtocook.mp3");'><%=t :doyouknowhowtocook %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouhaveaproblem.mp3");'><%=t :doyouhaveaproblem %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouknowhowtogettothemarriotthotel.mp3");'><%=t :doyouknowhowtogettothemarriotthotel %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouhaveaswimmingpool.mp3");'><%=t :doyouhaveaswimmingpool %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouknowwhatthismeans.mp3");'><%=t :doyouknowwhatthismeans %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouhaveanappointment.mp3");'><%=t :doyouhaveanappointment %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouknowwhatthissays.mp3");'><%=t :doyouknowwhatthissays %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouhaveanotherone.mp3");'><%=t :doyouhaveanotherone %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouknowwhereicangetataxi.mp3");'><%=t :doyouknowwhereicangetataxi %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouhaveanychildren.mp3");'><%=t :doyouhaveanychildren %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouknowwheremyglassesare.mp3");'><%=t :doyouknowwheremyglassesare %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouhaveanycoffee.mp3");'><%=t :doyouhaveanycoffee %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouknowwheresheis.mp3");'><%=t :doyouknowwheresheis %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouhaveanymoney.mp3");'><%=t :doyouhaveanymoney %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouknowwheretheresastorethatsellstowels.mp3");'><%=t :doyouknowwheretheresastorethatsellstowels %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouhaveanyvacancies.mp3");'><%=t :doyouhaveanyvacancies %></a></td>
          <td></td>
        </tr>
        <tr><td><a href='#' onclick='return playSound("/sounds/mine/doyouhaveanythingcheaper.mp3");'><%=t :doyouhaveanythingcheaper %></a></td>
            <td></td>
        </tr>
        <tr><td><a href='#' onclick='return playSound("/sounds/mine/doyouhaveenoughmoney.mp3");'><%=t :doyouhaveenoughmoney %></a></td>
            <td></td>
        </tr>
        <tr><th>Do you</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouacceptusdollars.mp3");'><%=t :doyouacceptusdollars %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyousellbatteries.mp3");'><%=t :doyousellbatteries %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyoubelievethat.mp3");'><%=t :doyoubelievethat %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyousellmedicine.mp3");'><%=t :doyousellmedicine %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyoufeelbetter.mp3");'><%=t :doyoufeelbetter %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyousmoke.mp3");'><%=t :doyousmoke %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyougotofloridaoften.mp3");'><%=t :doyougotofloridaoften %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouspeakenglish.mp3");'><%=t :doyouspeakenglish %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouhearthat.mp3");'><%=t :doyouhearthat %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyoustudyenglish.mp3");'><%=t :doyoustudyenglish %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyoulikeithere.mp3");'><%=t :doyoulikeithere %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyoutakecreditcards.mp3");'><%=t :doyoutakecreditcards %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyoulikethebook.mp3");'><%=t :doyoulikethebook %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouthinkitllraintoday.mp3");'><%=t :doyouthinkitllraintoday %></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouliketowatchtv.mp3");'><%=t :doyouliketowatchtv %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouthinkitsgoingtoraintoday.mp3");'><%=t :doyouthinkitsgoingtoraintoday %></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyoulikeyourboss.mp3");'><%=t :doyoulikeyourboss %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouthinkitspossible.mp3");'><%=t :doyouthinkitspossible %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyoulikeyourcoworkers.mp3");'><%=t :doyoulikeyourcoworkers %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouthinkyoullbebackby1130.mp3");'><%=t :doyouthinkyoullbebackbyeleventhirty %></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouneedanything.mp3");'><%=t :doyouneedanything %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouunderstand.mp3");'><%=t :doyouunderstand %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouneedanythingelse.mp3");'><%=t :doyouneedanythingelse %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouwanttogotothemovies.mp3");'><%=t :doyouwanttogotothemovies %></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouplayanysports.mp3");'><%=t :doyouplayanysports %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouwanttogowithme.mp3");'><%=t :doyouwanttogowithme %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/doyouplaybasketball.mp3");'><%=t :doyouplaybasketball %></a></td>
          <td></td>
        </tr>
      </table>
      <div id='copyright0'>
        <span onclick="showhide('ccl')"><p class='creative'><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></span>
          <div id='ccl' style="display:none">
            <p><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Tommy Talker</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://tommytalker.com" property="cc:attributionName" rel="cc:attributionURL">Steve Downie</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://tommytalker.com" rel="dct:source">http://tommytalker.com</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://maintenancemode.com" rel="cc:morePermissions">http://maintenancemode.com</a></p>
          </div> <!-- end ccl -->
      </div> <!-- end copyright0 -->
    </div> <!-- end white -->
  </div> <!-- end container -->
</body>
</html>
