<!DOCTYPE html>
<html lang='en'>
<head>
  <link rel="stylesheet" type="text/css" href="talker.css" />
  <script type="text/javaScript" src="jquery.js"></script>
  <script type="text/javaScript" src="talker.js"></script>
</head>
<body>
  <div id='white'>
    <br/>
    <div id='topper'>
      <h2>Tommy Talker</h2>
    </div>
  </div> <!-- end white -->
  <div class='container'>
    <table class='talker'>
      <tr><th>Do you have</th><th>Do you know<th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveABoyfriend.mp3");'><%=t :doyouhaveaboyfriend %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowHer.mp3");'><%=t :doyouknowher %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAGirlfriend.mp3");'><%=t :doyouhaveagirlfriend %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowHowMuchItCosts.mp3");'><%=t :doyouknowhowmuchitcosts %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAPencil.mp3");'><%=t :doyouhaveapencil %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowHowToCook.mp3");'><%=t :doyouknowhowtocook %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAProblem.mp3");'><%=t :doyouhaveaproblem %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowHowToGetToTheMarriottHotel.mp3");'><%=t :doyouknowhowtogettothemarriotthotel %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveASwimmingPool.mp3");'><%=t :doyouhaveaswimmingpool %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowWhatThisMeans.mp3");'><%=t :doyouknowwhatthismeans %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAnAppointment.mp3");'><%=t :doyouhaveanappointment %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowWhatThisSays.mp3");'><%=t :doyouknowwhatthissays %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAnotherOne.mp3");'><%=t :doyouhaveanotherone %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowWhereICanGetATaxi.mp3");'><%=t :doyouknowwhereicangetataxi %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAnyChildren.mp3");'><%=t :doyouhaveanychildren %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowWhereMyGlassesAre.mp3");'><%=t :doyouknowwheremyglassesare %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAnyCoffee.mp3");'><%=t :doyouhaveanycoffee %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowWhereSheIs.mp3");'><%=t :doyouknowwheresheis %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAnyMoney.mp3");'><%=t :doyouhaveanymoney %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouKnowWhereTheresAStoreThatSellsTowels.mp3");'><%=t :doyouknowwheretheresastorethatsellstowels %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAnyVacancies.mp3");'><%=t :doyouhaveanyvacancies %></a></td>
        <td></td>
      </tr>
      <tr><td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveAnythingCheaper.mp3");'><%=t :doyouhaveanythingcheaper %></a></td>
          <td></td>
      </tr>
      <tr><td><a href='#' onclick='return playSound("/sounds/phrases/doYouHaveEnoughMoney.mp3");'><%=t :doyouhaveenoughmoney %></a></td>
          <td></td>
      </tr>
      <tr><th>Do you</th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouAcceptUSDollars.mp3");'><%=t :doyouacceptusdollars %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouSellBatteries.mp3");'><%=t :doyousellbatteries %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouBelieveThat.mp3");'><%=t :doyoubelievethat %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouSellMedicine.mp3");'><%=t :doyousellmedicine %></a></td>
      </tr>    
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouFeelBetter.mp3");'><%=t :doyoufeelbetter %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouSmoke.mp3");'><%=t :doyousmoke %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouGoToFloridaOften.mp3");'><%=t :doyougotofloridaoften %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouSpeakEnglish.mp3");'><%=t :doyouspeakenglish %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouHearThat.mp3");'><%=t :doyouhearthat %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouStudyEnglish.mp3");'><%=t :doyoustudyenglish %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouLikeItHere.mp3");'><%=t :doyoulikeithere %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouTakeCreditCards.mp3");'><%=t :doyoutakecreditcards %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouLikeTheBook.mp3");'><%=t :doyoulikethebook %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouThinkItllRainToday.mp3");'><%=t :doyouthinkitllraintoday %></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouLikeToWatchTV.mp3");'><%=t :doyouliketowatchtv %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouThinkItsGoingToRainToday.mp3");'><%=t :doyouthinkitsgoingtoraintoday %></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouLikeYourBoss.mp3");'><%=t :doyoulikeyourboss %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouThinkItsPossible.mp3");'><%=t :doyouthinkitspossible %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouLikeYourCoworkers.mp3");'><%=t :doyoulikeyourcoworkers %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouThinkYoullBeBackBy1130.mp3");'><%=t :doyouthinkyoullbebackbyeleventhirty %></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouNeedAnything.mp3");'><%=t :doyouneedanything %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouUnderstand.mp3");'><%=t :doyouunderstand %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouNeedAnythingElse.mp3");'><%=t :doyouneedanythingelse %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouWantToGoToTheMovies.mp3");'><%=t :doyouwanttogotothemovies %></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouPlayAnySports.mp3");'><%=t :doyouplayanysports %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouWantToGoWithMe.mp3");'><%=t :doyouwanttogowithme %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/doYouPlayBasketball.mp3");'><%=t :doyouplaybasketball %></a></td>
        <td></td>
      </tr>
    </table>
    <%= link_to 'Back', root_path(:anchor => '#' ), id: 'a-bout', class: 'button', redirect_to: :back;%>

    <div id='copyright1'>
      <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
    </div>
  </div> <!-- end container -->
</body>
</html>
