<!DOCTYPE html>
<html lang='en'>
<head>
<!--  <link rel="stylesheet" type="text/css" href="ttalk.css.scss" /> -->
  <script type="text/javaScript" src="jquery.js"></script>
  <!--  <script type="text/javaScript" src="talker.js"></script> -->
</head>
<body>
  <div class='container'>
  <div id='white'>
    <div id='topper'>
      <h2>Tommy Talker</h2>
    </div>
    <table class='talker'>
      <tr><th>How are</th><th>How's</th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howAreYou.mp3")';><%=t :howareyou %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howsBusiness.mp3")';><%=t :howsbusiness %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howAreYouPaying.mp3")';><%=t :howareyoupaying %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howsTheWeather.mp3")';><%=t :howstheweather %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howAreYourParents.mp3")';><%=t :howareyourparents %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howsWorkGoing.mp3")';><%=t :howsworkgoing %></a></td>
      </tr>
      <tr><th>How Do</th><th>How long</th></tr> 
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howDoIGetToDanielStreet.mp3")';><%=t :howdoigettodanielstreet %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howLongAreYouGoingToStay.mp3")';><%=t :howlongareyougoingtostay %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howDoIUseThis.mp3")';><%=t :howdoiusethis %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howLongAreYouGoingToStayInCalifornia.mp3")';><%=t :howlongareyougoingtostayincalifornia %></a></td> 
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howDoYouKnow.mp3")';><%=t :howdoyouknow %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howLongDoesItTakeByCar.mp3")';><%=t :howlongdoesittakebycar %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howDoYouPronounceThat.mp3")';><%=t :howdoyoupronouncethat %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howLongDoesItTakeToGetToGeorgia.mp3")';><%=t :howlongdoesittaketogettogeorgia %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howDoYouSayItInEnglish.mp3")';><%=t :howdoyousayitinenglish %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howLongHaveYouBeenHere.mp3")';><%=t :howlonghaveyoubeenhere %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howDoYouSpellIt.mp3")';><%=t :howdoyouspellit %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howLongHaveYouWorkedHere.mp3")';><%=t :howlonghaveyouworkedhere %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howDoYouSpellTheWordSeattle.mp3")';><%=t :howdoyouspellthewordseattle %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howLongIsIt.mp3")';><%=t :howlongisit %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howdoIGetThere.mp3")';><%=t :howdoigetthere %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howLongIsTheFlight.mp3")';><%=t :howlongistheflight %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howdoIGetToTheAmericanEmbassy.mp3")';><%=t :howdoigettotheamericanembassy %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howLongWillItTake.mp3")';><%=t :howlongwillittake %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howdoIUseThis.mp3")';><%=t :howdoiusethis %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howLongWillYouBeStaying.mp3")';><%=t :howlongwillyoubestaying %></a></td>
      </tr>
      <tr><th>How</th><th>How many</th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howAboutSaturday.mp3")';><%=t :howaboutsaturday %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howMany.mp3")';><%=t :howmany %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howDoesItTaste.mp3")';><%=t :howdoesittaste %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howManyChildrenDoYouHave.mp3")';><%=t :howmanychildrendoyouhave %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howFarIsIt.mp3")';><%=t :howfarisit %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howManyHoursAWeekDoYouWork.mp3")';><%=t :howmanyhoursaweekdoyouwork %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howFarIsItToChicago.mp3")';><%=t :howfarisittochicago %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howManyLanguagesDoYouSpeak.mp3")';><%=t :howmanylanguagesdoyouspeak %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howIsShe.mp3")';><%=t :howisshe %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howManyMilesIsItToPenn.mp3")';><%=t :howmanymilesisittopennsylvania %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howOldAreYou.mp3")';><%=t :howoldareyou %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howManyPeople.mp3")';><%=t :howmanypeople %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howTallAreYou.mp3")';><%=t :howtallareyou %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howManyPeopleAreThereInNY.mp3")';><%=t :howmanypeoplearethereinnewyork %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howWasTheMovie.mp3")';><%=t :howwasthemovie %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howManyPeopleDoYouHaveInYourFamily.mp3")';><%=t :howmanypeopledoyouhaveinyourfamily %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howWasTheTrip.mp3")';><%=t :howwasthetrip %></a></td>
      </tr>
      <tr><th>How much</th><th>How much</th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howMuchAllTogether.mp3")';><%=t :howmuchalltogether %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howMuchIsThat.mp3")';><%=t :howmuchisthat %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howMuchAreTheseEarrings.mp3")';><%=t :howmucharetheseearrings %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howMuchIsThis.mp3")';><%=t :howmuchisthis %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howMuchDoIOweYou.mp3")';><%=t :howmuchdoioweyou %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howMuchMoneyDoYouHave.mp3")';><%=t :howmuchmoneydoyouhave %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howMuchDoesItCostPerDay.mp3")';><%=t :howmuchdoesitcostperday %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howMuchMoneyDoYouMake.mp3")';><%=t :howmuchmoneydoyoumake %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howMuchDoesThisCost.mp3")';><%=t :howmuchdoesthiscost %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howMuchWillItCost.mp3")';><%=t :howmuchwillitcost %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howMuchIsIt.mp3")';><%=t :howmuchisit %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howMuchWouldYouLike.mp3")';><%=t :howmuchwouldyoulike %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/howMuchIsItToGoToMiami.mp3")';><%=t :howmuchisittogotomiami %></a></td>
      </tr>
    </table>

    <div id='copyright1'>
      <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
    </div>
  </div> <!-- end white -->
  </div> <!-- end container -->
</body>
</html>
