<!DOCTYPE html>
<html lang='en'>
<head>
<!--  <link rel="stylesheet" type="text/css" href="ttalk.css.scss" /> -->
  <script type="text/javaScript" src="jquery.js"></script>
  <!--  <script type="text/javaScript" src="talker.js"></script> -->
</head>
<body>
  <div class='container'>
    <div id='white'>
      <div id='topper'>
        <h2>Tommy Talker</h2>
      </div>
      <table class='talker'>
        <tr><th>How are</th><th>How's</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howareyou.mp3")';><%=t :howareyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howsbusiness.mp3")';><%=t :howsbusiness %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howareyoupaying.mp3")';><%=t :howareyoupaying %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howstheweather.mp3")';><%=t :howstheweather %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howareyourparents.mp3")';><%=t :howareyourparents %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howsworkgoing.mp3")';><%=t :howsworkgoing %></a></td>
        </tr>
        <tr><th>How Do</th><th>How long</th></tr> 
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howdoigettodanielstreet.mp3")';><%=t :howdoigettodanielstreet %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howlongareyougoingtostay.mp3")';><%=t :howlongareyougoingtostay %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howdoiusethis.mp3")';><%=t :howdoiusethis %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howlongareyougoingtostayincalifornia.mp3")';><%=t :howlongareyougoingtostayincalifornia %></a></td> 
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howdoyouknow.mp3")';><%=t :howdoyouknow %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howlongdoesittakebycar.mp3")';><%=t :howlongdoesittakebycar %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howdoyoupronouncethat.mp3")';><%=t :howdoyoupronouncethat %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howlongdoesittaketogettogeorgia.mp3")';><%=t :howlongdoesittaketogettogeorgia %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howdoyousayitinenglish.mp3")';><%=t :howdoyousayitinenglish %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howlonghaveyoubeenhere.mp3")';><%=t :howlonghaveyoubeenhere %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howdoyouspellit.mp3")';><%=t :howdoyouspellit %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howlonghaveyouworkedhere.mp3")';><%=t :howlonghaveyouworkedhere %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howdoyouspellthewordseattle.mp3")';><%=t :howdoyouspellthewordseattle %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howlongisit.mp3")';><%=t :howlongisit %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howdoigetthere.mp3")';><%=t :howdoigetthere %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howlongistheflight.mp3")';><%=t :howlongistheflight %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howdoigettotheamericanembassy.mp3")';><%=t :howdoigettotheamericanembassy %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howlongwillittake.mp3")';><%=t :howlongwillittake %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howdoiusethis.mp3")';><%=t :howdoiusethis %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howlongwillyoubestaying.mp3")';><%=t :howlongwillyoubestaying %></a></td>
        </tr>
        <tr><th>How</th><th>How many</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howaboutsaturday.mp3")';><%=t :howaboutsaturday %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmany.mp3")';><%=t :howmany %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howdoesittaste.mp3")';><%=t :howdoesittaste %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmanychildrendoyouhave.mp3")';><%=t :howmanychildrendoyouhave %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howfarisit.mp3")';><%=t :howfarisit %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmanyhoursaweekdoyouwork.mp3")';><%=t :howmanyhoursaweekdoyouwork %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howfarisittochicago.mp3")';><%=t :howfarisittochicago %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmanylanguagesdoyouspeak.mp3")';><%=t :howmanylanguagesdoyouspeak %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howisshe.mp3")';><%=t :howisshe %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmanymilesisittopenn.mp3")';><%=t :howmanymilesisittopennsylvania %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howoldareyou.mp3")';><%=t :howoldareyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmanypeople.mp3")';><%=t :howmanypeople %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howtallareyou.mp3")';><%=t :howtallareyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmanypeoplearethereinny.mp3")';><%=t :howmanypeoplearethereinnewyork %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howwasthemovie.mp3")';><%=t :howwasthemovie %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmanypeopledoyouhaveinyourfamily.mp3")';><%=t :howmanypeopledoyouhaveinyourfamily %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howwasthetrip.mp3")';><%=t :howwasthetrip %></a></td>
        </tr>
        <tr><th>How much</th><th>How much</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmuchalltogether.mp3")';><%=t :howmuchalltogether %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmuchisthat.mp3")';><%=t :howmuchisthat %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmucharetheseearrings.mp3")';><%=t :howmucharetheseearrings %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmuchisthis.mp3")';><%=t :howmuchisthis %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmuchdoioweyou.mp3")';><%=t :howmuchdoioweyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmuchmoneydoyouhave.mp3")';><%=t :howmuchmoneydoyouhave %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmuchdoesitcostperday.mp3")';><%=t :howmuchdoesitcostperday %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmuchmoneydoyoumake.mp3")';><%=t :howmuchmoneydoyoumake %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmuchdoesthiscost.mp3")';><%=t :howmuchdoesthiscost %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmuchwillitcost.mp3")';><%=t :howmuchwillitcost %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmuchisit.mp3")';><%=t :howmuchisit %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmuchwouldyoulike.mp3")';><%=t :howmuchwouldyoulike %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/howmuchisittogotomiami.mp3")';><%=t :howmuchisittogotomiami %></a></td>
        </tr>
      </table>
      <div id='copyright0'>
        <span onclick="showhide('ccl')"><p class='creative'><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></span>
        <div id='ccl' style="display:none">
          <p><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Tommy Talker</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://tommytalker.com" property="cc:attributionName" rel="cc:attributionURL">Steve Downie</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://tommytalker.com" rel="dct:source">http://tommytalker.com</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://maintenancemode.com" rel="cc:morePermissions">http://maintenancemode.com</a></p>
        </div> <!-- end ccl -->
      </div> <!-- end copyright0 -->
    </div> <!-- end white -->
  </div> <!-- end container -->
</body>
</html>
