<!DOCTYPE html>
<html lang='en'>
<head>
<!--  <script type="text/javascript" src="jquery.js"></script> -->
  <script type="text/javascript" src="talker.js"></script> 
  <!--  <link rel="stylesheet" type="text/css" href="ttalk.css.scss" /> -->
</head>
<body>
  <div class='container'>
    <div id='white'>
      <div id='topper'>
        <h2>Tommy Talker</h2>
      </div>
      <table class='talker'>
        <tr><th>I</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/iagree.mp3")';><%=t :iagree %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/ilikeitalianfood.mp3")';><%=t :ilikeitalianfood %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/iatealready.mp3")';><%=t :iatealready %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/iliketowatchtv.mp3")';><%=t :iliketowatchtv %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/ibelieveyou.mp3")';><%=t :ibelieveyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/iliveincalifornia.mp3")';><%=t :iliveincalifornia %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/ilostmywatch.mp3")';><%=t :ilostmywatch %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/icamewithmyfamily.mp3")';><%=t :icamewithmyfamily %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/iloveyou.mp3")';><%=t :iloveyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imadeamistake.mp3")';><%=t :imadeamistake %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/itrustyou.mp3")';><%=t :itrustyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/icanthearyou.mp3")';><%=t :icanthearyou %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imadethiscake.mp3")';><%=t :imadethiscake %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/icanthearyouclearly.mp3")';><%=t :icanthearyouclearly %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/ionlyhavefivedollars.mp3")';><%=t :ionlyhavefivedollars %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/ifeelgood.mp3")';><%=t :ifeelgood %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/ionlywantasnack.mp3")';><%=t :ionlywantasnack %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/iforget.mp3")';><%=t :iforget %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/iremember.mp3")';><%=t :iremember %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/igiveup.mp3")';><%=t :igiveup %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/iunderstand.mp3")';><%=t :iunderstand %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/igotinanaccident.mp3")';><%=t :igotinanaccident %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/iunderstandnow.mp3")';><%=t :iunderstandnow %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/ihopeyouandyourwifehaveanicetrip.mp3")';><%=t :ihopeyouandyourwifehaveanicetrip %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/iknow.mp3")';><%=t :iknow %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/iusuallydrinkcoffeeatbreakfast.mp3")';><%=t :iusuallydrinkcoffeeatbreakfast %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/iwishihadone.mp3")';><%=t :iwishihadone %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/ilikeher.mp3")';><%=t :ilikeher %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/ilikeit.mp3")';><%=t :ilikeit %></a></td>
        </tr>
        <tr><th>I'd like</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/idliketogoforawalk.mp3")';><%=t :idliketogoforawalk %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/idliketogotothestore.mp3")';><%=t :idliketogotothestore %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/idlikeanonsmokingroom.mp3")';><%=t :idlikeanonsmokingroom %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/idliketogohome.mp3")';><%=t :idliketogohome %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/idlikearoom.mp3")';><%=t :idlikearoom %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/idliketogoshopping.mp3")';><%=t :idliketogoshopping %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/idliketomakeaphonecall.mp3")';><%=t :idliketomakeaphonecall %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/idlikesomewatertooplease.mp3")';><%=t :idlikesomewatertooplease %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/idlikeatablenearthewindow.mp3")';><%=t :idlikeatablenearthewindow %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/idliketomakeareservation.mp3")';><%=t :idliketomakeareservation %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/idliketosendafax.mp3")';><%=t :idliketosendafax %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/idliketobuyabottleofwaterplease.mp3")';><%=t :idliketobuyabottleofwaterplease %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/idliketorentacar.mp3")';><%=t :idliketorentacar %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/idliketobuysomething.mp3")';><%=t :idliketobuysomething %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/idliketousetheinternet.mp3")';><%=t :idliketousetheinternet %></a></td>
        </tr>
        <tr><th>I don't</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/idontcare.mp3")';><%=t :idontcare %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/idontmind.mp3")';><%=t :idontmind %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/idontfeelwell.mp3")';><%=t :idontfeelwell %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/idontspeakverywell.mp3")';><%=t :idontspeakverywell %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/idonthaveanymoney.mp3")';><%=t :idonthaveanymoney %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/idontthinkso.mp3")';><%=t :idontthinkso %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/idonthavetimerightnow.mp3")';><%=t :idonthavetimerightnow %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/idontunderstand.mp3")';><%=t :idontunderstand %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/idontknow.mp3")';><%=t :idontknow %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/idontunderstandwhatyoursaying.mp3")';><%=t :idontunderstandwhatyoursaying %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/idontknowhowtouseit.mp3")';><%=t :idontknowhowtouseit %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/idontwantit.mp3")';><%=t :idontwantit %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/idontlikehim.mp3")';><%=t :idontlikehim %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/idontwantthat.mp3")';><%=t :idontwantthat %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/idontlikeit.mp3")';><%=t :idontlikeit %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/idontwanttobotheryou.mp3")';><%=t :idontwanttobotheryou %></a></td>
        </tr>
        <tr><th>I have</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/ihavepaininmyarm.mp3")';><%=t :ihavepaininmyarm %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/ihaveacold.mp3")';><%=t :ihaveacold %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/ihavethreechildrentwogirlsandoneboy.mp3")';><%=t :ihavethreechildrentwogirlsandoneboy %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/ihaveaheadache.mp3")';><%=t :ihaveaheadache %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/ihaveoneinmycar.mp3")';><%=t :ihaveoneinmycar %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/ihavealotofthingstodo.mp3")';><%=t :ihavealotofthingstodo %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/ihavetowashmyclothes.mp3")';><%=t :ihavetowashmyclothes %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/ihaveaquestioniwanttoaskyou.mp3")';><%=t :ihaveaquestioniwanttoaskyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/ihaventbeenthere.mp3")';><%=t :ihaventbeenthere %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/ihaveareservation.mp3")';><%=t :ihaveareservation %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/ihaventfinishedeating.mp3")';><%=t :ihaventfinishedeating %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/ihavemoney.mp3")';><%=t :ihavemoney %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/ihaventhadlunchyet.mp3")';><%=t :ihaventhadlunchyet %></a></td>
        </tr>
        <tr><th>I'll</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/illberightback.mp3")';><%=t :illberightback %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/illpay.mp3")';><%=t :illpay %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/illcallbacklater.mp3")';><%=t :illcallbacklater %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/illpayfordinner.mp3")';><%=t :illpayfordinner %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/illpayforthetickets.mp3")';><%=t :illpayforthetickets %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/illcallyouwhenileave.mp3")';><%=t :illcallyouwhenileave %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/illtakeit.mp3")';><%=t :illtakeit %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/illcomebacklater.mp3")';><%=t :illcomebacklater %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/illtakethatonealso.mp3")';><%=t :illtakethatonealso %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/illhaveacupofteaplease.mp3")';><%=t :illhaveacupofteaplease %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/illtalktoyousoon.mp3")';><%=t :illtalktoyousoon %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/illhaveaglassofwaterplease.mp3")';><%=t :illhaveaglassofwaterplease %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/illteachyou.mp3")';><%=t :illteachyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/illhavethesamething.mp3")';><%=t :illhavethesamething %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/illtellhimyoucalled.mp3")';><%=t :illtellhimyoucalled %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/illgiveyouacall.mp3")';><%=t :illgiveyouacall %></a></td>
        </tr>
        <tr><th>I'm</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imjustkidding.mp3")';><%=t :imjustkidding %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imjustlooking.mp3")';><%=t :imjustlooking %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imleavingtomorrow.mp3")';><%=t :imleavingtomorrow %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imabeginner.mp3")';><%=t :imabeginner %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imlost.mp3")';><%=t :imlost %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imnotafraid.mp3")';><%=t :imnotafraid %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imateacher.mp3")';><%=t :imateacher %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/immarried.mp3")';><%=t :immarried %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imnotamerican.mp3")';><%=t :imnotamerican %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imnotbusy.mp3")';><%=t :imnotbusy %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imbored.mp3")';><%=t :imbored %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imnotgoing.mp3")';><%=t :imnotgoing %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imcleaningmyroom.mp3")';><%=t :imcleaningmyroom %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imnotmarried.mp3")';><%=t :imnotmarried %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imcold.mp3")';><%=t :imcold %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imnotreadyyet.mp3")';><%=t :imnotreadyyet %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imcomingrightnow.mp3")';><%=t :imcomingrightnow %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imnotsure.mp3")';><%=t :imnotsure %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imcomingtopickyouup.mp3")';><%=t :imcomingtopickyouup %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imok.mp3")';><%=t :imok %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imfineandyou.mp3")';><%=t :imfineandyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imonhold.mp3")';><%=t :imonhold %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imready.mp3")';><%=t :imready %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imsorry.mp3")';><%=t :imsorry %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imfull.mp3")';><%=t :imfull %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imselfemployed.mp3")';><%=t :imselfemployed %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imgettingreadytogoout.mp3")';><%=t :imgettingreadytogoout %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imsick.mp3")';><%=t :imsick %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imgoinghomeinfourdays.mp3")';><%=t :imgoinghomeinfourdays %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imsingle.mp3")';><%=t :imsingle %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imgoingtogohavedinner.mp3")';><%=t :imgoingtogohavedinner %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imthirsty.mp3")';><%=t :imthirsty %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imgoingtoleave.mp3")';><%=t :imgoingtoleave %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imtired.mp3")';><%=t :imtired %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imgood.mp3")';><%=t :imgood %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imverybusy.mp3")';><%=t :imverybusy %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imgoodandyou.mp3")';><%=t :imgoodandyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imverybusyidonthavetimenow.mp3")';><%=t :imverybusyidonthavetimenow %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imhappy.mp3")';><%=t :imhappy %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imverywellthankyou.mp3")';><%=t :imverywellthankyou %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imhereonbusiness.mp3")';><%=t :imhereonbusiness %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imwaitingforyou.mp3")';><%=t :imwaitingforyou %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imhungry.mp3")';><%=t :imhungry %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imworriedtoo.mp3")';><%=t :imworriedtoo %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imgoingtobed.mp3")';><%=t :imgoingtobed %></a></td>
        </tr>
        <tr><th>I need</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/ineedadoctor.mp3")';><%=t :ineedadoctor %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/ineedtochangeclothes.mp3")';><%=t :ineedtochangeclothes %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/ineedanotherkey.mp3")';><%=t :ineedanotherkey %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/ineedtogohome.mp3")';><%=t :ineedtogohome %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/ineedsometissues.mp3")';><%=t :ineedsometissues %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/ineedtogonow.mp3")';><%=t :ineedtogonow %></a></td>
        </tr>  
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/ineedthistogettherebytomorrow.mp3")';><%=t :ineedthistogettherebytomorrow %></a></td>
        </tr>
      </table>
      <div id='copyright0'>
        <span onclick="showhide('ccl')"><p class='creative'><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></span>
        <div id='ccl' style="display:none">
          <p><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Tommy Talker</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://tommytalker.com" property="cc:attributionName" rel="cc:attributionURL">Steve Downie</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://tommytalker.com" rel="dct:source">http://tommytalker.com</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://maintenancemode.com" rel="cc:morePermissions">http://maintenancemode.com</a></p>
        </div> <!-- end ccl -->
      </div> <!-- end copyright0 -->
    </div> <!-- end white -->
  </div> <!-- end container -->
</body>
</html>
