<!DOCTYPE html>
<html lang='en'>
<head>
<!--  <script type="text/javascript" src="jquery.js"></script> -->
  <script type="text/javascript" src="talker.js"></script> 
  <!--  <link rel="stylesheet" type="text/css" href="ttalk.css.scss" /> -->
</head>
<body>
  <div class='container'>
    <div id='white'>
      <div id='topper'>
        <h2>Tommy Talker</h2>
      </div>
      <table class='talker'>
        <tr><th>I</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iAgree.mp3")';><%=t :iagree %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iLikeItalianFood.mp3")';><%=t :ilikeitalianfood %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iAteAlready.mp3")';><%=t :iatealready %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iLikeToWatchTV.mp3")';><%=t :iliketowatchtv %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iBelieveYou.mp3")';><%=t :ibelieveyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iLiveInCalifornia.mp3")';><%=t :iliveincalifornia %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iLostMyWatch.mp3")';><%=t :ilostmywatch %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iCameWithMyFamily.mp3")';><%=t :icamewithmyfamily %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iLoveYou.mp3")';><%=t :iloveyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iMadeAMistake.mp3")';><%=t :imadeamistake %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/ITrustYou.mp3")';><%=t :itrustyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iCantHearYou.mp3")';><%=t :icanthearyou %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iMadeThisCake.mp3")';><%=t :imadethiscake %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iCantHearYouClearly.mp3")';><%=t :icanthearyouclearly %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iOnlyHave5Dollars.mp3")';><%=t :ionlyhavefivedollars %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iFeelGood.mp3")';><%=t :ifeelgood %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iOnlyWantASnack.mp3")';><%=t :ionlywantasnack %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iForget.mp3")';><%=t :iforget %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iRemember.mp3")';><%=t :iremember %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iGiveUp.mp3")';><%=t :igiveup %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/IUnderstand.mp3")';><%=t :iunderstand %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iGotInAnAccident.mp3")';><%=t :igotinanaccident %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/IUnderstandNow.mp3")';><%=t :iunderstandnow %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iHopeYouAndYourWifeHaveANiceTrip.mp3")';><%=t :ihopeyouandyourwifehaveanicetrip %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iKnow.mp3")';><%=t :iknow %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/IUsuallyDrinkCoffeeAtBreakfast.mp3")';><%=t :iusuallydrinkcoffeeatbreakfast %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/IWishIHadOne.mp3")';><%=t :iwishihadone %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iLikeHer.mp3")';><%=t :ilikeher %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iLikeIt.mp3")';><%=t :ilikeit %></a></td>
        </tr>
        <tr><th>I'd like</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeToGoForAWalk.mp3")';><%=t :idliketogoforawalk %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeToGoToTheStore.mp3")';><%=t :idliketogotothestore %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeANonSmokingRoom.mp3")';><%=t :idlikeanonsmokingroom %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeToGoHome.mp3")';><%=t :idliketogohome %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeARoom.mp3")';><%=t :idlikearoom %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeToGoShopping.mp3")';><%=t :idliketogoshopping %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeToMakeAPhoneCall.mp3")';><%=t :idliketomakeaphonecall %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeSomeWaterTooPlease.mp3")';><%=t :idlikesomewatertooplease %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeATableNearTheWindow.mp3")';><%=t :idlikeatablenearthewindow %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeToMakeAReservation.mp3")';><%=t :idliketomakeareservation %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeToSendAFax.mp3")';><%=t :idliketosendafax %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeToBuyABottleOfWaterPlease.mp3")';><%=t :idliketobuyabottleofwaterplease %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/idLikeToRentACar.mp3")';><%=t :idliketorentacar %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/IdLikeToBuySomething.mp3")';><%=t :idliketobuysomething %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/idLikeToUseTheInternet.mp3")';><%=t :idliketousetheinternet %></a></td>
        </tr>
        <tr><th>I don't</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iDontCare.mp3")';><%=t :idontcare %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iDontMind.mp3")';><%=t :idontmind %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iDontFeelWell.mp3")';><%=t :idontfeelwell %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iDontSpeakVeryWell.mp3")';><%=t :idontspeakverywell %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iDontHaveAnyMoney.mp3")';><%=t :idonthaveanymoney %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iDontThinkSo.mp3")';><%=t :idontthinkso %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iDontHaveTimeRightNow.mp3")';><%=t :idonthavetimerightnow %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iDontUnderstand.mp3")';><%=t :idontunderstand %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iDontKnow.mp3")';><%=t :idontknow %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iDontUnderstandWhatYourSaying.mp3")';><%=t :idontunderstandwhatyoursaying %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iDontKnowHowToUseIt.mp3")';><%=t :idontknowhowtouseit %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iDontWantIt.mp3")';><%=t :idontwantit %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iDontLikeHim.mp3")';><%=t :idontlikehim %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iDontWantThat.mp3")';><%=t :idontwantthat %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iDontLikeIt.mp3")';><%=t :idontlikeit %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iDontWantToBotherYou.mp3")';><%=t :idontwanttobotheryou %></a></td>
        </tr>
        <tr><th>I have</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iHavePainInMyArm.mp3")';><%=t :ihavepaininmyarm %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iHaveACold.mp3")';><%=t :ihaveacold %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iHaveThreeChildrenTwoGirlsAndOneBoy.mp3")';><%=t :ihavethreechildrentwogirlsandoneboy %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iHaveAHeadache.mp3")';><%=t :ihaveaheadache %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iHaveOneInMyCar.mp3")';><%=t :ihaveoneinmycar %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iHaveALotOfThingsToDo.mp3")';><%=t :ihavealotofthingstodo %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iHaveToWashMyClothes.mp3")';><%=t :ihavetowashmyclothes %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iHaveAQuestionIWantToAskYou.mp3")';><%=t :ihaveaquestioniwanttoaskyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iHaventBeenThere.mp3")';><%=t :ihaventbeenthere %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iHaveAReservation.mp3")';><%=t :ihaveareservation %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iHaventFinishedEating.mp3")';><%=t :ihaventfinishedeating %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iHaveMoney.mp3")';><%=t :ihavemoney %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iHaventHadLunchYet.mp3")';><%=t :ihaventhadlunchyet %></a></td>
        </tr>
        <tr><th>I'll</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/illBeRightBack.mp3")';><%=t :illberightback %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/illPay.mp3")';><%=t :illpay %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/illCallBackLater.mp3")';><%=t :illcallbacklater %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/illPayForDinner.mp3")';><%=t :illpayfordinner %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/illPayForTheTickets.mp3")';><%=t :illpayforthetickets %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/illCallYouWhenILeave.mp3")';><%=t :illcallyouwhenileave %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/illTakeIt.mp3")';><%=t :illtakeit %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/illComeBackLater.mp3")';><%=t :illcomebacklater %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/illTakeThatOneAlso.mp3")';><%=t :illtakethatonealso %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/illHaveACupOfTeaPlease.mp3")';><%=t :illhaveacupofteaplease %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/illTalkToYouSoon.mp3")';><%=t :illtalktoyousoon %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/illHaveAGlassOfWaterPlease.mp3")';><%=t :illhaveaglassofwaterplease %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/illTeachYou.mp3")';><%=t :illteachyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/illHaveTheSameThing.mp3")';><%=t :illhavethesamething %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/illTellHimYouCalled.mp3")';><%=t :illtellhimyoucalled %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/illGiveYouACall.mp3")';><%=t :illgiveyouacall %></a></td>
        </tr>
        <tr><th>I'm</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imJustKidding.mp3")';><%=t :imjustkidding %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imJustLooking.mp3")';><%=t :imjustlooking %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imLeavingTomorrow.mp3")';><%=t :imleavingtomorrow %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imABeginner.mp3")';><%=t :imabeginner %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imLost.mp3")';><%=t :imlost %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imNotAfraid.mp3")';><%=t :imnotafraid %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imATeacher.mp3")';><%=t :imateacher %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imMarried.mp3")';><%=t :immarried %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imNotAmerican.mp3")';><%=t :imnotamerican %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imNotBusy.mp3")';><%=t :imnotbusy %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imBored.mp3")';><%=t :imbored %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imNotGoing.mp3")';><%=t :imnotgoing %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imCleaningMyRoom.mp3")';><%=t :imcleaningmyroom %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imNotMarried.mp3")';><%=t :imnotmarried %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imCold.mp3")';><%=t :imcold %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imNotReadyYet.mp3")';><%=t :imnotreadyyet %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imComingRightNow.mp3")';><%=t :imcomingrightnow %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imNotSure.mp3")';><%=t :imnotsure %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imComingToPickYouUp.mp3")';><%=t :imcomingtopickyouup %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imOK.mp3")';><%=t :imok %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imFineAndYou.mp3")';><%=t :imfineandyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imOnHold.mp3")';><%=t :imonhold %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imReady.mp3")';><%=t :imready %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imSorry.mp3")';><%=t :imsorry %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imFull.mp3")';><%=t :imfull %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imSelfEmployed.mp3")';><%=t :imselfemployed %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imGettingReadyToGoOut.mp3")';><%=t :imgettingreadytogoout %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imSick.mp3")';><%=t :imsick %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imGoingHomeInFourDays.mp3")';><%=t :imgoinghomeinfourdays %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imSingle.mp3")';><%=t :imsingle %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imGoingToGoHaveDinner.mp3")';><%=t :imgoingtogohavedinner %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imThirsty.mp3")';><%=t :imthirsty %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imGoingToLeave.mp3")';><%=t :imgoingtoleave %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imTired.mp3")';><%=t :imtired %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imGood.mp3")';><%=t :imgood %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imVeryBusy.mp3")';><%=t :imverybusy %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imGoodAndYou.mp3")';><%=t :imgoodandyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imVeryBusyIDontHaveTimeNow.mp3")';><%=t :imverybusyidonthavetimenow %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imHappy.mp3")';><%=t :imhappy %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imVeryWellThankYou.mp3")';><%=t :imverywellthankyou %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imHereOnBusiness.mp3")';><%=t :imhereonbusiness %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imWaitingForYou.mp3")';><%=t :imwaitingforyou %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imHungry.mp3")';><%=t :imhungry %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imWorriedToo.mp3")';><%=t :imworriedtoo %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/imGoingToBed.mp3")';><%=t :imgoingtobed %></a></td>
        </tr>
        <tr><th>I need</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iNeedADoctor.mp3")';><%=t :ineedadoctor %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iNeedToChangeClothes.mp3")';><%=t :ineedtochangeclothes %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iNeedAnotherKey.mp3")';><%=t :ineedanotherkey %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iNeedToGoHome.mp3")';><%=t :ineedtogohome %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iNeedSomeTissues.mp3")';><%=t :ineedsometissues %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iNeedToGoNow.mp3")';><%=t :ineedtogonow %></a></td>
        </tr>  
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/iNeedThisToGetThereByTomorrow.mp3")';><%=t :ineedthistogettherebytomorrow %></a></td>
        </tr>
      </table>

      <div id='copyright1'>
        <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
      </div>
    </div> <!-- end white -->
  </div> <!-- end container -->
</body>
</html>
