<!DOCTYPE html>
<html lang='en' background-color='green'>
<head>
<!--  <link rel="stylesheet" type="text/css" href="ttalk.css.scss" /> -->
  <script type="text/javaScript" src="jquery.js"></script> 
  <!--  <script type="text/javaScript" src="talker.js"></script>  -->
</head>
<body background='green'>
  <div class='container'>
    <div id='white'>
      <div id='topper'>
        <h2>Tommy Talker Top 26</h2>
      </div>
      <table class='talker'>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/yes.mp3")';><%=t :yess %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/no.mp3")';><%=t :noo %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/judy.mp3")';><%=t :judy %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/heather.mp3")';><%=t :heather %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/julianne.mp3")';><%=t :julianne %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/sarah.mp3")';><%=t :sarah %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/canyoupleasehelpme.mp3")';><%=t :canyoupleasehelpme %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/fuckthat.mp3")';><%=t :fuckthat %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/idontknow.mp3")';><%=t :idontknow %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/iloveyou.mp3")';><%=t :iloveyou %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/ineedtogotobed.mp3")';><%=t :ineedtogotobed %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/ineedtogotothebathroom.mp3")';><%=t :ineedtogotothebathroom %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imcold.mp3")';><%=t :imcold %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imhot.mp3")';><%=t :imhot %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/imhungry.mp3")';><%=t :imhungry %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/imtired.mp3")';><%=t :imtired %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/letseat.mp3")';><%=t :letseat %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/now.mp3")';><%=t :now %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/please.mp3")';><%=t :please %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/pleasehelpme.mp3")';><%=t :pleasehelpme %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/thankyou.mp3")';><%=t :thankyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/thanks.mp3")';><%=t :thanks %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/thatsgood.mp3")';><%=t :thatsgood %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/thatsgreat.mp3")';><%=t :thatsgreat %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whatdoyouwant.mp3")';><%=t :whatdoyouwant %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/youlookgreat.mp3")';><%=t :youlookgreat %></a></td>
        </tr>
      </table>

      <div id='copyright0'>
        <span onclick="showhide('ccl')"><p class='creative'><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></span>
        <div id='ccl' style="display:none">
          <p><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Tommy Talker</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://tommytalker.com" property="cc:attributionName" rel="cc:attributionURL">Steve Downie</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://tommytalker.com" rel="dct:source">http://tommytalker.com</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://maintenancemode.com" rel="cc:morePermissions">http://maintenancemode.com</a></p>
        </div> <!-- end ccl -->
      </div> <!-- end copyright0 -->
    </div> <!-- end white -->
  </div> <!-- end container -->
</body>
</html>
