<!DOCTYPE html>
<html lang='en'>
<head>
<!--  <script type="text/javascript" src="jquery.js"></script> -->
  <script type="text/javascript" src="talker.js"></script>
  <!--  <link rel="stylesheet" type="text/css" href="ttalk.css.scss" /> -->
</head>
<body>
  <div class='container'>
    <div id='white'>
      <div id='topper'>
        <h2>Tommy Talker</h2>
      </div>
      <table class='talker'>
        <tr>
          <th>What</th><th>What time</th>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatAreYouDoing.mp3")';><%=t :whatareyoudoing %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatTimeAreYouGoingToTheBusStation.mp3")';><%=t :whattimeareyougoingtothebusstation %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatAreYouGoingToDoTonight.mp3")';><%=t :whatareyougoingtodotonight %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatTimeDidYouGetUp.mp3")';><%=t :whattimedidyougetup %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatAreYouGoingToHave.mp3")';><%=t :whatareyougoingtohave %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatTimeDidYouGoToSleep.mp3")';><%=t :whattimedidyougotosleep %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatAreYouThinkingAbout.mp3")';><%=t :whatareyouthinkingabout %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatTimeDidYouWakeUp.mp3")';><%=t :whattimedidyouwakeup %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatAreYouTwoTalkingAbout.mp3")';><%=t :whatareyoutwotalkingabout %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatTimeDoYouGoToWorkEveryday.mp3")';><%=t :whattimedoyougotoworkeveryday %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatAreYourHobbies.mp3")';><%=t :whatareyourhobbies %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatTimeDoYouThinkYoullArrive.mp3")';><%=t :whattimedoyouthinkyoullarrive %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatCanIDoForYou.mp3")';><%=t :whatcanidoforyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatTimeDoesItStart.mp3")';><%=t :whattimedoesitstart %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatColorIsThatCar.mp3")';><%=t :whatcoloristhatcar %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatTimeDoesTheMovieStart.mp3")';><%=t :whattimedoesthemoviestart %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatDayAreTheyComingOver.mp3")';><%=t :whatdayaretheycomingover %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatTimeDoesTheStoreOpen.mp3")';><%=t :whattimedoesthestoreopen %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatDayOfTheWeekIsIt.mp3")';><%=t :whatdayoftheweekisit %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatTimeIsCheckout.mp3")';><%=t :whattimeischeckout %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatHappened.mp3")';><%=t :whathappened %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatTimeIsIt.mp3")';><%=t :whattimeisit %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatKindOfMusicDoYouLike.mp3")';><%=t :whatkindofmusicdoyoulike %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatTimeAreTheyArriving.mp3")';><%=t :whattimearetheyarriving %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatSchoolDidYouGoTo.mp3")';><%=t :whatschooldidyougoto %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatWouldYouLikeToDrink.mp3")';><%=t :whatwouldyouliketodrink %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatShouldIWear.mp3")';><%=t :whatshouldiwear %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatWouldYouLikeToEat.mp3")';><%=t :whatwouldyouliketoeat %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatSize.mp3")';><%=t :whatsize %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatWillTheWeatherBeLikeTomorrow.mp3")';><%=t :whatwilltheweatherbeliketomorrow %></a></td>
        </tr>
        <tr>
          <th>What's</th><th>What did</th>
        </tr> 
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatsTheAddress.mp3")';><%=t :whatstheaddress %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatDidYouDoLastNight.mp3")';><%=t :whatdidyoudolastnight %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatsTheChargePerNight.mp3")';><%=t :whatsthechargepernight %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatDidYouDoYesterday.mp3")';><%=t :whatdidyoudoyesterday %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatsTheDate.mp3")';><%=t :whatsthedate %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatDidYouThink.mp3")';><%=t :whatdidyouthink %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatsTheExchangeRate.mp3")';><%=t :whatstheexchangerate %></a></td>
        </tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatsInIt.mp3")';><%=t :whatsinit %></a></td><th>What does</th>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatsTheExchangeRateForDollars.mp3")';><%=t :whatstheexchangeratefordollars %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatDoesHeDoForWork.mp3")';><%=t :whatdoeshedoforwork %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatsTheMatter.mp3")';><%=t :whatsthematter %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatDoesThisMean.mp3")';><%=t :whatdoesthismean %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatsTheNameOfTheCompanyYouWorkFor.mp3")';><%=t :whatsthenameofthecompanyyouworkfor %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatDoesThisSay.mp3")';><%=t :whatdoesthissay %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatsThePhoneNumber.mp3")';><%=t :whatsthephonenumber %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatDoesThisWordMean.mp3")';><%=t :whatdoesthiswordmean %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatsTheRoomRate.mp3")';><%=t :whatstheroomrate %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatDoesYourFatherDoForWork.mp3")';><%=t :whatdoesyourfatherdoforwork %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatsThis.mp3")';><%=t :whatsthis %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatsInIt.mp3")';><%=t :whatsinit %></a></td>
          <th>What do</th>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatsUp.mp3")';><%=t :whatsup %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatDoTheyStudy.mp3")';><%=t :whatdotheystudy %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatsWrong.mp3")';><%=t :whatswrong %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatDoYouDoForWork.mp3")';><%=t :whatdoyoudoforwork %></a></td>
        </tr>
        <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whatsYourAddress.mp3")';><%=t :whatsyouraddress %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whatDoYouHave.mp3")';><%=t :whatdoyouhave %></a></td>
        </tr>
        <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whatsYourFavoriteFood.mp3")';><%=t :whatsyourfavoritefood %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whatDoYouRecommend.mp3")';><%=t :whatdoyourecommend %></a></td>
        </tr>
        <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whatsYourFavoriteMovie.mp3")';><%=t :whatsyourfavoritemovie %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whatDoYouStudy.mp3")';><%=t :whatdoyoustudy %></a></td>
        </tr>
        <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whatsYourLastName.mp3")';><%=t :whatsyourlastname %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whatDoYouThink.mp3")';><%=t :whatdoyouthink %></a></td>
        </tr>
        <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whatsYourName.mp3")';><%=t :whatsyourname %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whatDoYouThinkOfTheseShoes.mp3")';><%=t :whatdoyouthinkoftheseshoes %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatsYourReligion.mp3")';><%=t :whatsyourreligion %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatDoYouWantToBuy.mp3")';><%=t :whatdoyouwanttobuy %></a></td>
        </tr>
        <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whatsTodaysDate.mp3")';><%=t :whatstodaysdate %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whatDoYouWantToDo.mp3")';><%=t :whatdoyouwanttodo %></a></td>
        </tr>
        <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whatsTheTemperature.mp3")';><%=t :whatsthetemperature %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whatDoYourParentsDoForWork.mp3")';><%=t :whatdoyourparentsdoforwork %></a></td>
        </tr>
        <tr>
          <th>What is</th>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatIsIt.mp3")';><%=t :whatisit %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatIsTheAreaCode.mp3")';><%=t :whatistheareacode %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatIsThat.mp3")';><%=t :whatisthat %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/phrases/whatIsTodaysDate.mp3")';><%=t :whatistodaysdate %></a></td>
        </tr>
      </table>

      <div id='copyright1'>
        <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
      </div>
    </div> <!-- end white -->
  </div> <!-- end container -->
</body>
</html>
