<!DOCTYPE html>
<html lang='en'>
<head>
<!--  <script type="text/javascript" src="jquery.js"></script> -->
  <script type="text/javascript" src="talker.js"></script>
  <!--   <link rel="stylesheet" type="text/css" href="ttalk.css.scss" /> -->
</head>
<body>
  <div id='white'>
    <br/>
    <div id='topper'>
      <h2>Tommy Talker</h2>
    </div>
  </div> <!-- end white -->
  <div class='container'>
    <table class='talker'>
      <tr><th>Where</th><th>When</th></tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereAreTheTShirts.mp3")';><%=t :wherearethetshirts %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenAreTheyComing.mp3")';><%=t :whenaretheycoming %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereAreYou.mp3")';><%=t :whereareyou %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenAreYouComingBack.mp3")';><%=t :whenareyoucomingback %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereAreYouFrom.mp3")';><%=t :whereareyoufrom %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenAreYouGoingToPickUpYourFriend.mp3")';><%=t :whenareyougoingtopickupyourfriend %></a></td>
      </tr>

      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereAreYouGoing.mp3")';><%=t :whereareyougoing %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenAreYouLeaving.mp3")';><%=t :whenareyouleaving %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereAreYouGoingToGo.mp3")';><%=t :whereareyougoingtogo %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenAreYouMoving.mp3")';><%=t :whenareyoumoving %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereCanIBuyTickets.mp3")';><%=t :wherecanibuytickets %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDidThisHappen.mp3")';><%=t :whendidthishappen %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereCanIExchangeUsDollars.mp3")';><%=t :wherecaniexchangeusdollars %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDidYouArriveInBoston.mp3")';><%=t :whendidyouarriveinboston %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereCanIFindAHospital.mp3")';><%=t :wherecanifindahospital %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDoWeArrive.mp3")';><%=t :whendowearrive %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereCanIMailThis.mp3")';><%=t :wherecanimailthis %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDoYouArriveInTheUS.mp3")';><%=t :whendoyouarriveintheunitedstates %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereCanIRentACar.mp3")';><%=t :wherecanirentacar %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDoYouGetOffWork.mp3")';><%=t :whendoyougetoffwork %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDidItHappen.mp3")';><%=t :wheredidithappen %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDoesHeArrive.mp3")';><%=t :whendoeshearrive %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDidYouGo.mp3")';><%=t :wheredidyougo %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDoesItArrive.mp3")';><%=t :whendoesitarrive %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDidYouLearnEnglish.mp3")';><%=t :wheredidyoulearnenglish %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDoesItLeave.mp3")';><%=t :whendoesitleave %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDidYouLearnIt.mp3")';><%=t :wheredidyoulearnit %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDoesTheBankOpen.mp3")';><%=t :whendoesthebankopen %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDidYouPutIt.mp3")';><%=t :wheredidyouputit %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDoesTheBusLeave.mp3")';><%=t :whendoesthebusleave %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDidYouWorkBeforeYouWorkedHere.mp3")';><%=t :wheredidyouworkbeforeyouworkedhere %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenDoesThePlaneArrive.mp3")';><%=t :whendoestheplanearrive %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDoYouLive.mp3")';><%=t :wheredoyoulive %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenIWentToTheStoreTheyDidntHaveAnyApples.mp3")';><%=t :wheniwenttothestoretheydidnthaveanyapples %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDoYouWanttoGo.mp3")';><%=t :wheredoyouwanttogo %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenIsTheNextBusToPhiladelphia.mp3")';><%=t :whenisthenextbustophiladelphia %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDoYouWork.mp3")';><%=t :wheredoyouwork %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenIsYourBirthday.mp3")';><%=t :whenisyourbirthday %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDoesItHurt.mp3")';><%=t :wheredoesithurt %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenWillItBeReady.mp3")';><%=t :whenwillitbeready %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereDoesYourWifeWork.mp3")';><%=t :wheredoesyourwifework %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whenWouldYouLikeToMeet.mp3")';><%=t :whenwouldyouliketomeet %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsHe.mp3")';><%=t :whereishe %></a></td><th>Who</th>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsHeFrom.mp3")';><%=t :whereishefrom %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoAreThey.mp3")';><%=t :whoarethey %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsIt.mp3")';><%=t :whereisit %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoIsIt.mp3")';><%=t :whoisit %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsMainStreet.mp3")';><%=t :whereismainstreet %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoIsThat.mp3")';><%=t :whoisthat %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsMyShirt.mp3")';><%=t :whereismyshirt %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoSentThisLetter.mp3")';><%=t :whosentthisletter %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsSheFrom.mp3")';><%=t :whereisshefrom %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoTaughtYou.mp3")';><%=t :whotaughtyou %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsTheAirport.mp3")';><%=t :whereistheairport %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoTaughtYouThat.mp3")';><%=t :whotaughtyouthat %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsTheBathroom.mp3")';><%=t :whereisthebathroom %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoWasThat.mp3")';><%=t :whowasthat %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsTheBusStation.mp3")';><%=t :whereisthebusstation %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoWasYourTeacher.mp3")';><%=t :whowasyourteacher %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsThereADoctorWhoSpeaksEnglish.mp3")';><%=t :whereisthereadoctorwhospeaksenglish %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoWon.mp3")';><%=t :whowon %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsThereAnATM.mp3")';><%=t :whereisthereanatm %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whoWouldYouLikeToSpeakTo.mp3")';><%=t :whowouldyouliketospeakto %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereIsThereAnATM.mp3")';><%=t :whereisthereanatm %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whosBookIsThat.mp3")';><%=t :whosbookisthat %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereWereYou.mp3")';><%=t :wherewereyou %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whosThatManOverThere.mp3")';><%=t :whosthatmanoverthere %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereWouldYouLikeToGo.mp3")';><%=t :wherewouldyouliketogo %></a></td>
        <th>Why</th>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whereWouldYouLikeToMeet.mp3")';><%=t :wherewouldyouliketomeet %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whyAreYouLaughing.mp3")';><%=t :whyareyoulaughing %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/wheresTheClosestRestaurant.mp3")';><%=t :wherestheclosestrestaurant %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whyArentYouGoing.mp3")';><%=t :whyarentyougoing %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/wheresTheMailBox.mp3")';><%=t :wheresthemailbox %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whyNot.mp3")';><%=t :whynot %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/wheresTheNearestHospital.mp3")';><%=t :wheresthenearesthospital %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whydidYouDoThat.mp3")';><%=t :whydidyoudothat %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/wheresThePharmacy.mp3")';><%=t :wheresthepharmacy %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whydidYouSayThat.mp3")';><%=t :whydidyousaythat %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/wheresThePostOffice.mp3")';><%=t :wheresthepostoffice %></a></td>
      </tr>
      <tr>
        <th>Which</th>
      </tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichIsBetter.mp3")';><%=t :whichisbetter %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichSchoolDoesHeGoTo.mp3")';><%=t :whichschooldoeshegoto %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichOneIsBetter.mp3")';><%=t :whichoneisbetter %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichIsBetterTheSpaghettiOrChickenSalad.mp3")';><%=t :whichisbetterthespaghettiorchickensalad %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichOneIsCheaper.mp3")';><%=t :whichoneischeaper %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichIsTheBest.mp3")';><%=t :whichisthebest %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichOneIsTheBest.mp3")';><%=t :whichoneisthebest %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichOne.mp3")';><%=t :whichone %></a></td>
      </tr>
      <tr>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichRoadShouldITake.mp3")';><%=t :whichroadshoulditake %></a></td>
        <td><a href='#' onclick='return playSound("/sounds/phrases/whichOneDoYouWant.mp3")';><%=t :whichonedoyouwant %></a></td>
      </tr>
    </table>
    <%= link_to 'Back', root_path(:anchor => '#' ), id: 'a-bout', class: 'button', redirect_to: :back;%>

    <div id='copyright1'>
      <p>Copyright 2015, <a id='mmode' href='https://maintenancemode.com';>Maintenance Mode</a>. All rights reserved.</p>
    </div>
  </div> <!-- end container -->
</body>
</html>
