<!DOCTYPE html>
<html lang='en'>
<head>
<!--  <script type="text/javascript" src="jquery.js"></script> -->
  <script type="text/javascript" src="talker.js"></script>
  <!--   <link rel="stylesheet" type="text/css" href="ttalk.css.scss" /> -->
</head>
<body>
  <div class='container'>
    <div id='white'>
      <div id='topper'>
        <h2>Tommy Talker</h2>
      </div>
      <table class='talker'>
        <tr><th>Where</th><th>When</th></tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wherearethetshirts.mp3")';><%=t :wherearethetshirts %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whenaretheycoming.mp3")';><%=t :whenaretheycoming %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whereareyou.mp3")';><%=t :whereareyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whenareyoucomingback.mp3")';><%=t :whenareyoucomingback %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whereareyoufrom.mp3")';><%=t :whereareyoufrom %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whenareyougoingtopickupyourfriend.mp3")';><%=t :whenareyougoingtopickupyourfriend %></a></td>
        </tr>

        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whereareyougoing.mp3")';><%=t :whereareyougoing %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whenareyouleaving.mp3")';><%=t :whenareyouleaving %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whereareyougoingtogo.mp3")';><%=t :whereareyougoingtogo %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whenareyoumoving.mp3")';><%=t :whenareyoumoving %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wherecanibuytickets.mp3")';><%=t :wherecanibuytickets %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whendidthishappen.mp3")';><%=t :whendidthishappen %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wherecaniexchangeusdollars.mp3")';><%=t :wherecaniexchangeusdollars %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whendidyouarriveinboston.mp3")';><%=t :whendidyouarriveinboston %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wherecanifindahospital.mp3")';><%=t :wherecanifindahospital %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whendowearrive.mp3")';><%=t :whendowearrive %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wherecanimailthis.mp3")';><%=t :wherecanimailthis %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whendoyouarriveintheus.mp3")';><%=t :whendoyouarriveintheunitedstates %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wherecanirentacar.mp3")';><%=t :wherecanirentacar %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whendoyougetoffwork.mp3")';><%=t :whendoyougetoffwork %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wheredidithappen.mp3")';><%=t :wheredidithappen %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whendoeshearrive.mp3")';><%=t :whendoeshearrive %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wheredidyougo.mp3")';><%=t :wheredidyougo %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whendoesitarrive.mp3")';><%=t :whendoesitarrive %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wheredidyoulearnenglish.mp3")';><%=t :wheredidyoulearnenglish %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whendoesitleave.mp3")';><%=t :whendoesitleave %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wheredidyoulearnit.mp3")';><%=t :wheredidyoulearnit %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whendoesthebankopen.mp3")';><%=t :whendoesthebankopen %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wheredidyouputit.mp3")';><%=t :wheredidyouputit %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whendoesthebusleave.mp3")';><%=t :whendoesthebusleave %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wheredidyouworkbeforeyouworkedhere.mp3")';><%=t :wheredidyouworkbeforeyouworkedhere %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whendoestheplanearrive.mp3")';><%=t :whendoestheplanearrive %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wheredoyoulive.mp3")';><%=t :wheredoyoulive %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/wheniwenttothestoretheydidnthaveanyapples.mp3")';><%=t :wheniwenttothestoretheydidnthaveanyapples %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wheredoyouwanttogo.mp3")';><%=t :wheredoyouwanttogo %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whenisthenextbustophiladelphia.mp3")';><%=t :whenisthenextbustophiladelphia %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wheredoyouwork.mp3")';><%=t :wheredoyouwork %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whenisyourbirthday.mp3")';><%=t :whenisyourbirthday %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wheredoesithurt.mp3")';><%=t :wheredoesithurt %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whenwillitbeready.mp3")';><%=t :whenwillitbeready %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wheredoesyourwifework.mp3")';><%=t :wheredoesyourwifework %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whenwouldyouliketomeet.mp3")';><%=t :whenwouldyouliketomeet %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whereishe.mp3")';><%=t :whereishe %></a></td><th>Who</th>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whereishefrom.mp3")';><%=t :whereishefrom %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whoarethey.mp3")';><%=t :whoarethey %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whereisit.mp3")';><%=t :whereisit %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whoisit.mp3")';><%=t :whoisit %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whereismainstreet.mp3")';><%=t :whereismainstreet %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whoisthat.mp3")';><%=t :whoisthat %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whereismyshirt.mp3")';><%=t :whereismyshirt %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whosentthisletter.mp3")';><%=t :whosentthisletter %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whereisshefrom.mp3")';><%=t :whereisshefrom %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whotaughtyou.mp3")';><%=t :whotaughtyou %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whereistheairport.mp3")';><%=t :whereistheairport %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whotaughtyouthat.mp3")';><%=t :whotaughtyouthat %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whereisthebathroom.mp3")';><%=t :whereisthebathroom %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whowasthat.mp3")';><%=t :whowasthat %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whereisthebusstation.mp3")';><%=t :whereisthebusstation %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whowasyourteacher.mp3")';><%=t :whowasyourteacher %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whereisthereadoctorwhospeaksenglish.mp3")';><%=t :whereisthereadoctorwhospeaksenglish %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whowon.mp3")';><%=t :whowon %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whereisthereanatm.mp3")';><%=t :whereisthereanatm %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whowouldyouliketospeakto.mp3")';><%=t :whowouldyouliketospeakto %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whereisthereanatm.mp3")';><%=t :whereisthereanatm %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whosbookisthat.mp3")';><%=t :whosbookisthat %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wherewereyou.mp3")';><%=t :wherewereyou %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whosthatmanoverthere.mp3")';><%=t :whosthatmanoverthere %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wherewouldyouliketogo.mp3")';><%=t :wherewouldyouliketogo %></a></td>
          <th>Why</th>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wherewouldyouliketomeet.mp3")';><%=t :wherewouldyouliketomeet %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whyareyoulaughing.mp3")';><%=t :whyareyoulaughing %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wherestheclosestrestaurant.mp3")';><%=t :wherestheclosestrestaurant %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whyarentyougoing.mp3")';><%=t :whyarentyougoing %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wheresthemailbox.mp3")';><%=t :wheresthemailbox %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whynot.mp3")';><%=t :whynot %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wheresthenearesthospital.mp3")';><%=t :wheresthenearesthospital %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whydidyoudothat.mp3")';><%=t :whydidyoudothat %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wheresthepharmacy.mp3")';><%=t :wheresthepharmacy %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whydidyousaythat.mp3")';><%=t :whydidyousaythat %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/wheresthepostoffice.mp3")';><%=t :wheresthepostoffice %></a></td>
        </tr>
        <tr>
          <th>Which</th>
        </tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whichisbetter.mp3")';><%=t :whichisbetter %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whichschooldoeshegoto.mp3")';><%=t :whichschooldoeshegoto %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whichoneisbetter.mp3")';><%=t :whichoneisbetter %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whichisbetterthespaghettiorchickensalad.mp3")';><%=t :whichisbetterthespaghettiorchickensalad %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whichoneischeaper.mp3")';><%=t :whichoneischeaper %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whichisthebest.mp3")';><%=t :whichisthebest %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whichoneisthebest.mp3")';><%=t :whichoneisthebest %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whichone.mp3")';><%=t :whichone %></a></td>
        </tr>
        <tr>
          <td><a href='#' onclick='return playSound("/sounds/mine/whichroadshoulditake.mp3")';><%=t :whichroadshoulditake %></a></td>
          <td><a href='#' onclick='return playSound("/sounds/mine/whichonedoyouwant.mp3")';><%=t :whichonedoyouwant %></a></td>
        </tr>
      </table>
      <div id='copyright0'>
        <span onclick="showhide('ccl')"><p class='creative'><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></span>
        <div id='ccl' style="display:none">
          <p><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Tommy Talker</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://tommytalker.com" property="cc:attributionName" rel="cc:attributionURL">Steve Downie</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://tommytalker.com" rel="dct:source">http://tommytalker.com</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://maintenancemode.com" rel="cc:morePermissions">http://maintenancemode.com</a></p>
        </div> <!-- end ccl -->
      </div> <!-- end copyright0 -->
    </div> <!-- end white -->
  </div> <!-- end container -->
</body>
</html>
