<div id='topper2'>
  <h2>New <%= l = Language.where(id: 10).first.name %>  Phrase</h2>
</div>
<%= form_for(@phrase) do |f| %>
  <% if @phrase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluratrze(@phrase.errors.count, "error") %> prohibited this phrase from being saved:</h2>
      <ul>
      <% @phrase.errors.full_messages.each do |message| %>
        <tr><%= message %></tr>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
   <table class='show-phrase'>
    <tr class="required">

    <tr class="required">
      <td class='label'><%= f.label :phrase_text %>:</td>
      <td class='show-label'><%= f.text_area :phrase_text, autofocus: true, cols: 64, rows: 2 %></td>
    </tr>
    <tr class="required">
      <td class='label'><%= f.label :audio_file %>:</td>
      <td class='show-label'><%= f.text_field :audio_file %></td>
    </tr>
    <tr class="required">
      <td class='label'; style='text-align: right';><%= f.label :key %>:</td>
      <td class='show-label'><%= f.text_field :key %></td>
    </tr>
  </table>
  <div class="actions">
    <table>
      <tr>
        <td><%= f.submit 'Update', :class => 'button' %></td>
        <td><%= link_to "Cancel", phrases_path, class: 'button' %></td>
      </tr>
    </table>
  </fieldset>
<% end %>
