<style type='text/css'>
table#fp-su {
  margin-top: 2em;
  margin-left: 0.5em;
  margin-bottom: -3em;
}
table#fp-su tr, td {
  margin-top: 3.5em;
  margin-left: 5em;
}
input.button.right{
  margin-bottom: 0.4em;
}

input#user_email.form-control{
  margin-bottom: -0.75em;
}
input#user_password.form-control{
  margin-top: -0.35em;
  margin-bottom: -1.5em;
}
div.form-group{
  margin-bottom: 0;
}
input.a.right{
  margin-left: -0.75em;
  margin-right: -0.5em;
  width: 8.5em; 
}

form#new_user.new_user{
  margin-bottom: 0;
}

div.checkbox label{
  margin-top: -1em;
}

div.form-group{
  margin-bottom: 1.5em;
}

</style>
<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3>Sign in</h3>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox" style="width:150px">
          <label>
              <%= f.check_box :remember_me %> Remember me
          </label>
        </div>
      <% end -%>
      <%= f.submit 'Sign in', :class => 'button right' %>
      <table id='fp-su'>
        <tr>
        <%- if devise_mapping.registerable? %>
          <td> <%= link_to 'Sign up', new_registration_path(resource_name), class: 'right'  %></td>
        <% end -%>
        <%- if devise_mapping.recoverable? %>
          <td><%= link_to "Forgot password?", new_password_path(resource_name), class: 'right' %></td>
        <% end -%>
        </tr>
      </table> 
    </div>
  <% end %>
</div>
