<!DOCTYPE html>
<% require 'kaminari' %>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tommy Talker" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tommy Talker" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style type='text/css'>
      /* Change alignment for Arabic language
       * which reads from right to left  */
      <% if I18n.locale == :ar %>
        table.talker { width: 50em; margin-right: 0.15em; margin-left: -14em; text-align: left; }
        table.talker th{ text-align: right; margin-left: 4em; }
        table.talker td{ font-family: Arial; font-size: 1em; text-align: right;  margin: 0; }
      <% end %>
      a { text-decoration:none }
    </style>
  </head>
  <body style='background-color:#000088;'>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
<!--    <main role="main"> -->
       <%= render 'layouts/messages' %>
       <%= yield %>
<!--     </main> -->
  </body>
</html>
