<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tommy Talker" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tommy Talker" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style type='text/css'>
    <% if I18n.locale == :zh %>
      div.main { background-color: #00008B; }
      body { background-color: #00008B; }
      div#white { background-color: #00008B;}
      div#zz { background-color: #00008B;}
      div.daddy { background-color: #00008B; }
    <% end %>
    <% if I18n.locale == :ar %>
      table.talker {
       width: 50em;
       margin-right: 0.15em;
       margin-left: -14em;
       text-align: left;
     }
     table.talker th{ text-align: right; margin-left: 4em; }
     table.talker td{
       font-family: Arial;
       font-size: 1em;
       text-align: right;
       margin: 0;
     }
    <% end %>
    </style>

  </head>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div class='main' role='main'>

         <%= render 'layouts/messages' %>
         <%= yield %>

   </div>  </body>
</html>


<!--      <main role='main'>  -->
<!--    </main>   end main1 -->
